*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
}

.name {
    font-size: 20px;
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}

.erase {
    text-align: center;
    width: 70px;
    margin-left: 15px;
    align-self: center;
    cursor: pointer;
}

.incr {
    text-align: center;
    width: 30px;
    margin-left: 15px;
    align-self: center;
    cursor: pointer;
}